<div class="login-box">
    <h1>Login</h1>
    <form method="post">
        <label>Email</label>
<<<<<<< HEAD
        <input type="text" placeholder="Email.." name="email" value="{{email}}">
=======
        <input type="text" placeholder="Email.." name="email" value="{{email}}"     >
>>>>>>> 5ee182e044cfd86142ecdd7fd6c7aa404e1574bc
        <label>Password</label>
        <input type="password" placeholder="Password.." name="password">
        <input type="submit" value="Submit">
    </form>
    <p>Not have an account? <a href="/auth/register">Register here</a></p>
</div>
