<<<<<<< HEAD

        <section id="not-found-page">
=======
 <section id="not-found-page">
>>>>>>> 5ee182e044cfd86142ecdd7fd6c7aa404e1574bc
            <div class="not-found-page-container">
                <h1>404</h1>
                <h2>Page Not Found</h2>
                <p>The Page you are looking for doesn't exist or another error occurred. Go to <a href="#"
                        class="btn">Courses</a>.
                </p>
            </div>
<<<<<<< HEAD
        </section>
   
=======
</section>
    
>>>>>>> 5ee182e044cfd86142ecdd7fd6c7aa404e1574bc
